body {
	background-color: #EEE;
	font-family: Tahoma, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #EB0000;
}

a:hover {
	background-color: #DADADA;
}

h1, h2, h3 {
	margin: 0;
}

img {
	width: 30%;
	height: 30%;
	float: left;
	margin-top: 250px;
}

#container {
	background-color: white;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #BB0000;
	color: white;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px
}

#navigation {
	width: 180px;
	float: left;
}

#navigation ul {
	list-style-type: none;
	padding: 0;
}

.selected {
	font-weight: bold;
	font-size: 22px;
}

#main {
	width: 600px;
	float: right;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}