body{
	background-color:#f4f4f4;
	color:#555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;

	line-height:1.6em;
	margin:auto;
}

h2{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	color: white;
	background-color: black;
	padding: 5px;
	z-index: 1;
}

img{
	height: 700px;
	width: 450px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	border: 4px solid black;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 5px solid black;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

table {
	font-size:16px;
	border-spacing: 5px;
	margin-left: auto;
	margin-right: auto;
}

thead {
	color: darkgreen;
}

td{
	border: solid;
	padding-left: 5px;
	padding-right: 5px;
}